* { margin: 0; padding: 0; text-decoration: none; color: #000; }
#header { background: url(./images/title.png); width: 100%; height: 60px; line-height: 100%; position: relative; }
#main{display: flex;}
.logo { background: url(./images/logo.png); width: 120px; height: 50px; position: absolute; left: 30px; }
.left{width: 220px; background: #3a3633; color: #fff;}
.box{height: 300px;margin-top: 50px;}
.left .tagA {height: 40px;margin: 5px 10px;line-height: 40px;}
.left .tagA i{margin-right: 5px;font-size: 23px;line-height: 40px;}
.left .tagA a{line-height: 40px;}
.left .tagA span{float: right;font-weight: bold;font-size: 20px;}
.left .tagA i,a,span{color: #fff;}


.h3{font-size: 35px;font-weight: normal;}

.right .in_right{margin: 30px;}
.title{height: 45px;background: #faf;}
.title a{color:#000;}
.title a i{margin-right: 5px;}